<div class="checkbox font-size-12">
  <label>
    <input type="checkbox" value="">
    {{ nodeInfo._source.name }}
  </label>
</div>
<div class="margin-15 font-size-12">
  <div data-custom-treenode data-ng-repeat="listItem in nodeList | parentFilter:nodeInfo:'parent'" list="nodeList"></div>
</div>






<div data-ng-repeat="listItem in nodeList | parentFilter:nodeInfo:'parent'"> {{ listItem._source.name }} </div>
<!-- <div data-custom-treenode data-ng-repeat="tag in nodeList | parentFilter:nodeInfo:'parent'" info="tag" list="nodeList"></div> -->
