html, body {
    height:100%;
    /*font-family: 'Open Sans', sans-serif;*/
}
.main{
	background: url(../img/background-3.png) no-repeat;
	background-size: cover;
	height:100vh;
}

.main-title{
	position: absolute;
	left: 25%;
	margin-left: -124px;
	top: 10%;
	display: inline-block;
}

.image-of-maa{
	position: absolute;
	left: 50%;
	margin-left: -145.5px;
	bottom: 10%;
	display: inline-block;
}

.sign-in-up{
	position: absolute;
	background-color: #6d0707;
	height: 121px;
	width: 121px;
	border-radius: 60.5px;
	text-align: center;
	color: white;
	font-weight: 500;
	padding-top: 30px;
	left: 10%;
	top: 74.5%;	
	margin-left: -60.5px;
	cursor: pointer;
}

.name{
	position: absolute;
	left: 25%;
	top: 74.5%;	
	margin-left: -79.5px;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 2px #000000;
}

.sign-in-up-block{
	display: inline-block;
	width: 401px;
	padding: 15px;
	background-color: black;
	color: white;
	position: fixed;
	left: 28%;
	top: 5%;
	margin-left: -200.5px;
	z-index: 5;
	display: none;
}

.sign-in-up-block .form-group label{
	margin-top: -5px;
}

.sign-in-up-block input{
	border-radius: 0px;
	/*height: 24px;
	font-size: 12px;
	padding: 0px;
	padding-left: 5px;*/
}

.sign-in-up-block hr{
	border-color: white;
	width: 368px;
	margin: 0 auto;
	clear: both;
	margin-top: 30px;
	margin-bottom: 30px;
}

.p_img{
	font-weight: bold;
}

.name p:first-child{
	font-size: 14px;
	/*font-family: 'Open Sans', sans-serif;*/
	font-weight: 500;
}

.name p:last-child{
	font-size: 12px;
	/*font-family: 'Open Sans', sans-serif;*/
	font-weight: 200;
	text-shadow: 0px 0px 3px #000000;
}

.join{
	width: 86px;
}

.navigation .navbar-default {
	background-color: #ff9600;
	border-color: #ff9600;
}


.navigation .navbar {
	border-radius: 0px;
}

.navigation ul li a{
	color: black !important;
}

.search-style{
	border-radius: 0px;
}

.filter-title{
	font-size: 24px;
}

.filter-title img{
	margin-top: -5px;
	margin-left: 5px;
}

.search{
	width: 389px !important;
	background: #FFFFFF url(../img/search.png) no-repeat right;
	background-position: 360px;
	border-radius: 0px;
}

.font-size-16{
	font-size: 16px;
}

.font-size-14{
	font-size: 14px;
}

.font-size-13{
	font-size: 13px;
}

.font-size-12{
	font-size: 12px;
}

.margin-15{
	margin-left: 15px;
}

.filter-lists{
	min-height: 70px;
}

.f_list {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: white;
	box-shadow: 2px 2px 6px black;
	color: black;
	padding: 2px 20px;
	border-radius: 50px;
	margin-right: 20px;
}

.f_list img {
	margin-top: -1px;
	margin-left: 10px;
}

.filter-heading{
	height: 48px;
	color: black;
	font-size: 20px;
	background-color: #d7df23;
	padding-top: 8px;
	cursor: pointer;
}

.filter-title-arrow{
	float: right;
	margin-top: 10px;
}


.filter-heading-contant{
	padding: 20px 0;
}

.block-filter {
	float: left;
	height: 300px;
	margin-right: 10px;
	width: 219px;
}

.block-filter:last-child{
	margin-right: 0px;
}

.block-filter-title{
	height: 36px;
	font-size: 14px;
	background-color: #dfffa3;
	padding-top: 9px;
}

.block-filter-contant{
	border: 1px solid #e7ffba;
	min-height: 250px;
	border-radius: 0 0 15px 15px;
	padding: 5px;
}

.block-search{
	border-radius: 0px;
	width: 100% !important;
	background-position: 96% !important;
}

.block-filter-contant .form-group{
	margin-bottom: 0px;
}

.filter-block{
	margin-bottom: 30px;
}

.filter-heading-b-color{
	background-color: #eb661c;
}

.philosophy-color{
	background-color: #f9d1ba;
}

.philosophy-filter-contant{
	border: 1px solid #f9d1ba;
}

.reference-b-color{
	background-color:#00d6f9;
}

.reference-color{
	background-color: #b2f3fd;
}

.reference-filter-contant{
	border: 1px solid #b2f3fd;
}


.more-filters-b-color{
	background-color:#ba9bc9;
}

.more-filters-color{
	background-color: #e7dcec;
}

.more-filters-filter-contant{
	border: 1px solid #e7dcec;
}

.big-title{
	font-size: 25px;
	color: #003bff;
	font-weight: bold;
	margin-bottom: 30px;
}

.result-title{
	font-size: 19px;
	font-weight: bold;
	color: black;
}


.result{
	margin-bottom: 30px;
}

.sub-footer{
	background: url(../img/sub-footer.png) no-repeat;
	position: relative;
	height: 318px;
	color: white;
}

.sub-footer .container{
	padding-top: 80px;
}

.quate-style{
	font-weight: bold;
	color: black;
}

.quate_name{
	margin-top: 15px;
}


.save-serarch,
.ShowAllArticles{
	width:500px;
	padding:15px;
	background-color: black;
	color: white;
}

.save-serarch textarea{
	resize:vertical;
	border-radius: 0px;
}

.save-serarch input{
	border-radius: 0px;
}

.save-seach-btn{
	border-radius: 15px;
}

.save-seach-btn:first-child{
	margin-right: 20px;
}

.save-seach-btn:last-child{
	margin-left: 20px;
}

.ShowAllArticles{
	min-height: 400px;
}

.article-list{
	color: white;
}
.icon-style{
	margin-right: 5px;
}
.custom-horizontal-group .form-group{
	margin-left: 0px;
	margin-right: 0px;
}
.form-group-style .custom_label,
.article-list .custom_label{
	margin: 0;
	padding: 0;
}
.form-group-style .input,
.article-list .custom_label{
	margin: 0;
	padding: 0;
	padding-left: 10px;
}
.style-text{
	font-style: italic;
	font-size: 11px;
}
.block-filter-contant .search-style input{
	border: 1px solid #dedede;
}
.block-filter-contant .search-style .btn{
	border-color: #dedede;
}